---
title: CSS stylesheet
---

/* General and Atomic */
body {
  font-family: 'Antic Slab', serif;
}


h1, h2, h3, h4, h5, nav, footer > p {
    font-family: 'IM Fell English SC', serif;
}

h1, h2, h3, h4, h5 {
    margin-top: 34px;
}

p, li {
    font-size: 140%;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.container .jumbotron, .container-fluid .jumbotron { border-radius: 0; }

.red-font { color: #7D1935; }

.btn-red {
    background-color: #7D1935;
    color: #fff;
}

.btn-red:hover {
    background-color: #991E41;
    color: #fff;
}

.btn-blue {
    background-color: #4A96AD;
    color: #fff;
}

.btn-blue:hover {
    background-color: #62A7BC;
    color: #fff;
}

.panel-title {
    font-size: 24px;
}

.panel-heading {
    cursor: pointer;
}

/* Navbar and Footer */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #fff;
}

.navbar a {
  color: #333333;
}

.navbar-toggle .icon-bar {
    background-color: #333333;
}

.navbar#main-nav .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar#main-nav {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #7D1935;
}

.navbar#main-nav .navbar-brand {
    font-size: 1.5em;
}

.navbar#main-nav .navbar-nav li a {
    font-size: 1.2em;
}

.navbar#main-nav .navbar-brand,
.navbar#main-nav .navbar-nav li a.main-drop {
    line-height: 80px;
    height: 80px;
    padding-top: 0;
}

.navbar#main-nav a {
  color: #fff;
}

.navbar#main-nav a.item {
  color: #333333;
}

.nav>li>a.main-drop:focus, .nav>li>a.main-drop:hover {
    background-color: #991E41;
}

.jumbotron {
    background-color: #7D1935;
    color: #fff;
    max-height: 280px;
    margin-bottom: 1.5em;
}

@media screen and (min-width: 768px) {
    .jumbotron {
        padding-top: 12px;
        padding-bottom: 36px;
    }

    .jumbotron .h1, .jumbotron h1 {
      font-family: 'Lovers Quarrel', cursive;
      font-size: 108px;
      font-family: 'Lovers Quarrel', cursive;
    }
}

@media screen and (max-width: 768px) {
    .jumbotron .h1, .jumbotron h1 {
      font-family: 'Lovers Quarrel', cursive;
      font-size: 38px;
      font-family: 'Lovers Quarrel', cursive;
    }

    .jumbotron .h5, .jumbotron h5 {
        font-size: 14px;
    }

    .navbar#main-nav .navbar-brand, .navbar#main-nav .navbar-nav li a.main-drop {
        line-height: 20px;
        height: 50px;
        padding-top: 15px;
        font-size: 120%;
    }
}

.img-thumbnail {
  border: 0;
  border-radius: 8px;
}

.mobile-btn {
    border-radius: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 16px;
    padding-right: 16px;
    color: #333;
    background-color: #4A96AD;
    font-size: 1.6em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.mobile-btn a {
    color: #fff;
    font-family: 'IM Fell English SC', serif;
}

.mobile-btn a:hover {
    text-decoration: none;
}

div#about, div#explore, div#join {
    padding-right: 0;
    padding-left: 0;
    max-width: 100%;
    height: 260px;
    margin: 0;
    background-position-x: 50%;
    background-position-y: 50%;
    display: flex;
    color: #fff;
    margin-bottom: 1.5em;
}

div#about {
    background: url("{{site.baseurl}}/assets/handel-bw.jpg") no-repeat center center;
}

div#explore {
    background: url("{{site.baseurl}}/assets/discovery-bw.jpg") no-repeat center center;
}

div#join {
    background: url("{{site.baseurl}}/assets/handel-monument.jpg") no-repeat center center;
}

div#events {
    background: url("{{site.baseurl}}/assets/Senesino_Cuzzoni_Berenstadt_BW.jpg") no-repeat center center;
    padding-right: 0;
    padding-left: 0;
    max-width: 100%;
    height: 500px;
    margin: 0;
    background-position-x: 50%;
    background-position-y: 50%;
    display: flex;
    color: #fff;
    margin-bottom: 1.5em;
}

.footer {
    margin-top: 4em;
     background: linear-gradient(
          #fff,
          rgba(255, 255, 255, 0.2)
        ), 
        url("{{site.baseurl}}/assets/handelsmessiah-l.jpg") no-repeat center center;
    height: 200px;
    background-size: cover;
}

footer > p {
    font-family: 'IM Fell English SC', serif;
    margin-top: 2em;
}
/* Code from http://codepen.io/mrsahar/pen/PNGMLV */
.btn22 img {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.btn22 .ovrly {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn22 .buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn22 .buttons .fa {
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    display: inline-block;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
    position: relative;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    -o-transition: -o-transform 0.3s;
    transition: transform 0.3s;
    border-radius: 4px;
    padding-left: 12px;
    padding-right: 12px;
    color:#333;
    background-color: #4A96AD;
    color: #fff;
    font-family: 'IM Fell English SC', serif;
    font-size: 1.8em;
}

.btn22:hover .buttons .fa {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
}

.btn22:hover .ovrly {
    opacity: 1;
}

/* Styles to prevent Google layer from covering Carto results */
.leaflet-google-layer {
    z-index: 0 !important;
}

.leaflet-map-pane {
    z-index: 100;
}

/* Styles for info window. Class names can vary. */
.infoBox {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

/* Styles for map div */
div#mapCanvas {
  height: 500px;
  width: 100%;
}
