---
layout: default
---

{% include nav.html %}

<div class='container'>
  <div class='row'>
    <div class='col-md-10 col-md-offset-1'>

      <div class="row">
        <div class='col-md-12'>
          <h2>The J. Merrill Knapp Research Fellowship</h2>
          <p>The Board of Directors of The American Handel Society invites applications for the J. Merrill Knapp Research Fellowship to support scholarly projects related to Handel and his world. One or more fellowships may be awarded on even-numbered years to a total of $2,000. Requests for funding may include, but are not limited to, purchase of microfilms, travel for research, and production expenses for publication. This fellowship may be used on its own or to augment other grants or fellowships.</p>
          <p>In awarding the Knapp Fellowship, preference will be given to graduate students, scholars in the early stages of their careers, and independent scholars with no source of institutional support.</p>
          <br>
          <p><strong>The next deadline for applications is March 2, 2018.</strong></p>
          <br>
          <p>There is no application form. Each applicant should submit an outline of the project, a budget showing how and when the funds will be used, and a description of other funding for the same project applied for and/or received. In addition, applicants should have two letters of recommendation sent directly to the Knapp Fellowship Committee. Electronic submissions are preferred; letters of recommendation as well as the application itself can be emailed to Roger Freitas at <a href="mailto:rfreitas@esm.rochester.edu">rfreitas@esm.rochester.edu</a>. Paper submissions can be mailed to:<p> 
          <p>
            Professor Roger Freitas<br>
            Eastman School of Music<br>
            26 Gibbs Street<br>
            Rochester NY 14604
          </p>

          <h2>Previous winners of the Knapp Fellowship</h2>
          {% include knapp_table.html %}

          <h2>Other Awards</h2>
          <p>
            <strong>We encourage Handel researchers to also consider the following fellowships:</strong>
            <ul>
              <li><a href="http://haendel.de/Gesellschaft/haendel-forschungspreis/-forschungspreis-2019" target="_blank">The Händel Gesellschaft's International Handel Research Prize</a></li>
              <li>The Handel Institute Research Award</li>
              <li>The Handel Institute Conference Award</li>
            </ul>
          </p>
        </div>
      </div>

    </div>
  </div>
</div>