---
layout: default
---

{% include nav.html %}

<div class='container'>
  <div class='row'>
    <div class='col-md-10 col-md-offset-1'>
      <div class="row">
        <div class='col-md-12'>
          <h2>American Handel Society Conference</h2>
          <br>
          <div class="row">
            <div class='col-md-12 well'>
              <p>
                The 2021 American Handel Society Conference will be held March 11 through March 14, 2021. 
                The event will be entirely virtual and will be hosted by Indiana University Bloomington. 
                Dr. Berta Joncus will deliver the Howard Serwer Memorial Lecture on Thursday, March 11, and 
                the conference will include eleven papers and a harpsichord lecture/recital.
                This year’s program will feature a performance of Handel’s opera <em>Serse</em> on Friday, March 12, 
                and a Baroque Orchestra Concert by IU’s Historical Performance Institute on Saturday, March 13.
              </p>
              <br>
              <p><strong>Jacobs School of Music at Indiana University in Bloomington, Indiana</br>March 11-14, 2021</strong></p>
              <p><a href="https://iu.pressbooks.pub/ahsconference2021/front-matter/introduction/" target="_blank"><i class="fa fa-external-link-square" aria-hidden="true"></i> Visit website</a></p>       
            </div>
          </div>
        
        </div>
      </div>

      <hr />

      <div class="row">
        <div class='col-md-12'>
          <h2>Recently Past Festivals</h2>
          <div class="row">
            <div class="col-xs-12">
              <p><strong>Jacobs School of Music at Indiana University in Bloomington, Indiana</br>February 7–10, 2019</strong></p>
              <p><a href="https://music.indiana.edu/news-events/news/info/2018/10/iu-jacobs-school-of-music-welcomes-2019-american-handel-festival.html" target="_blank"><i class="fa fa-external-link-square" aria-hidden="true"></i> Visit website</a></p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-xs-12">
              <p><strong>Princeton University</br>April 6-9, 2017</strong></p>
              <p><a href="https://ahs2017.princeton.edu/" target="_blank"><i class="fa fa-external-link-square" aria-hidden="true"></i> Visit website</a></p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-xs-12">
              <p><strong>Iowa City</br>April 23-26, 2015</strong></p>
              <p><a href="https://music.uiowa.edu/resources/news/joint-meeting-american-handel-society-society-seventeenth-century-music" target="_blank"><i class="fa fa-external-link-square" aria-hidden="true"></i> Visit website</a></p>
            </div>
          </div>
        </div>
      </div>

      <hr />

      <div class="row">
        <div class='col-md-12'>
          <h2>Past Howard Serwer Memorial Lectures</h2>
          {% include serwer_table.html %}
        </div>
      </div>

      <hr />

      <div class="row">
        <div class='col-md-12'>
          <h2>Other Conferences and Events</h2>

          <div class="row">
            <div class="col-xs-12">
              <p>
                <strong>International Scholarly Conference (2020)</strong><br>
                "Handel images - iconography, aesthetics, compositional practice"<br>
                November 30-December 1, 2020<br>
                Händel-Haus, Halle an der Saale<br>
              </p>
              <p><a href="https://www.haendel.de/news/haendels-bilder-ikonographie-aesthetik-kompositorische-praxis/?lang=en" target="_blank"><i class="fa fa-external-link-square" aria-hidden="true"></i> Learn more</a></p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-xs-12">
              <p>
                <strong>International Scholarly Conference (2021)</strong><br>
                "Redemption and Modern Age—Handel’s Messiah in the 19th to 21st Century"<br>
                May 31–June 2, 2021 <br>
                Händel-Haus, Halle an der Saale<br>
              </p>
              <p><a href="https://www.haendel.de/news/2021-erloesung-und-moderne-haendels-messiah-im-19-bis-21-jahrhundert/?lang=en" target="_blank"><i class="fa fa-external-link-square" aria-hidden="true"></i> Learn more</a></p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-xs-12">
              <p>
                <strong>Handel Institute Conference</strong><br>
                "Handel: Interactions and Influences"<br>
                November 20–21, 2021<br>
                The Foundling Museum, London WC1N 1AZ<br>
              </p>
              <p><a href="https://handelinstitute.org/conferences/" target="_blank"><i class="fa fa-external-link-square" aria-hidden="true"></i> Learn more</a></p>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>