---
layout: default
---

{% include nav.html %}

<div class='container'>
  <div class='row'>
    <div class='col-md-10 col-md-offset-1'>
      <div class="row">
        <div class='col-md-12'>
          <h2>American Handel Festival</h2>
          <p>The American Handel Society anticipates holding its biennial American Handel Festival and Conference at <strong>Indiana University in Bloomington, Indiana in March 2021</strong>. The festival includes academic panels, the Howard Serwer Memorial Lecture, and performances of music by Handel and his contemporaries. More details to follow.</p>

          <br>

          <div class="row">
            <div class='col-md-12 well'>
              <p><strong>CALL FOR PAPERS</strong></p>
              <p>The Society invites the submission of abstracts for papers on any topic connected with Handel’s life and music.</p>
              <p>Abstracts of no more than 500 words may be sent by October 4, 2020 to the Program Chair, Nathan Link at <a href="mailto:americanhandelsociety@gmail.com">americanhandelsociety@gmail.com</a>.</p>
            </div>
          </div>
        
        </div>
      </div>

      <hr />

      <div class="row">
        <div class='col-md-12'>
          <h2>Recently Past Festivals</h2>
          <div class="row">
            <div class="col-xs-12">
              <p><strong>Jacobs School of Music at Indiana University in Bloomington, Indiana</br>February 7–10, 2019</strong></p>
              <p><a href="https://music.indiana.edu/departments/academic/musicology/american-handel-festival.shtml" target="_blank"><i class="fa fa-external-link-square" aria-hidden="true"></i> Visit website</a></p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-xs-12">
              <p><strong>Princeton University</br>April 6-9, 2017</strong></p>
              <p><a href="https://ahs2017.princeton.edu/" target="_blank"><i class="fa fa-external-link-square" aria-hidden="true"></i> Visit website</a></p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-xs-12">
              <p><strong>Iowa City</br>April 23-26, 2015</strong></p>
              <p><a href="https://music.uiowa.edu/resources/news/joint-meeting-american-handel-society-society-seventeenth-century-music" target="_blank"><i class="fa fa-external-link-square" aria-hidden="true"></i> Visit website</a></p>
            </div>
          </div>
        </div>
      </div>

      <hr />

      <div class="row">
        <div class='col-md-12'>
          <h2>Past Howard Serwer Memorial Lectures</h2>
          {% include serwer_table.html %}
        </div>
      </div>

      <hr />

      <div class="row">
        <div class='col-md-12'>

          <h2>Handel Festival in Halle (Saale)</h2>
          <p>The International Scholarly Conference during the Handel Festival in Halle an der Saale on November 30-December 1, 2020 will focus on “Handel images,” following the festival theme “Musical paintings.” This subjectcan be interpreted in different ways: on the one hand there is the topic of the paintings in Handel’s collection and the visual worlds that surrounded him at his various places of work; on the other hand, the subject will also explore the visual imagination that he generated in his artistic work. The question will also be addressed about which pictures of Handel were created to classify the figure and the works of the composer in different cultural, aesthetic or political value systems.</p>

          <p>The conference thus aims to comprehensively explore the role of visual ideas for Handel&#39;s artistic output as well as for the reception history. With the three keywords “iconography,” “aesthetics” and “compositional practice,” we hope to outline a stimulating topic in which investigations into both the pictorial sources of Handel himself and the “pictorialness” of Handel&#39;s music and references to the visual arts in contemporary music aesthetics will be considered. We also wish to reflect on how the different manifestations of the composer (from the 18 th century to the present day) can be explained and compared with each other.</p>

          <strong><p>
            November 30-December 1, 2020</br>
            Händel-Haus, Halle an der Saale</br>
            <a href="https://www.haendel.de/scholarly-handel-conference/?lang=en" target="_blank">www.haendel.de</a>
          </p></strong>

        </div>
      </div>
    </div>
  </div>
</div>