---
layout: default
---

{% include nav.html %}

<div class='container'>
  <div class='row'>
    <div class='col-md-10 col-md-offset-1'>

      <div class="row">
        <div class='col-md-12'>
          <h2>Newsletter</h2>
          <p>The Newsletter is published three times a year (Spring, Summer, Winter) and contains reports on scholarly developments, notices of upcoming conferences and performances, reviews of books and recordings, an annual discography, lists of recent publications, and news of the Society.</p>
          <p>
            <strong>Minji Kim, Editor</strong><br>
            <a href="mailto:minjik@gmail.com">minjik@gmail.com</a>
          </p>
          <p>The Editor welcomes comments and suggestions for future issues.</p>

          <h3>Special Offers from the American Handel Society</h3>
          <p>The American Handel Society is offering sets of back issues of the Newsletter for the price of $10 per year (three issues each), going back to the first year, 1986. All volumes are available, but some numbers are in short supply. We reserve the right to supply photocopies of individual numbers where necessary.</p>

          <h3>Newsletter archive</h3>
          <p>Newsletters are available here in pdf format. Newsletters become available online after a year has passed since the year of their publication. (All three 2014 issues, for example, will be available starting January 2016.)</p>
          <p>
            <a href="{{site.baseurl}}/assets/current_newsletter/Handel_Summer_2017_Preview.pdf" target="_blank">Summer 2017 (Preview)</a> |
            <a href="{{site.baseurl}}/assets/current_newsletter/AHS Newsletter_Spring_2017_Preview.pdf" target="_blank">Spring 2017 (Preview)</a>
          </p>
          <hr>
        </div>
      </div>

      <div class="row">
        <div id="showNews" class="col-md-12">
          <p><strong>Show all years <i class="fa fa-caret-down" aria-hidden="true"></i></strong></p>
        </div>
        <div id="lessNews" class="col-md-12" style="display:none">
          <p><strong>Show less <i class="fa fa-caret-up" aria-hidden="true"></i></strong></p>
        </div>
        <div id="allNews" class="col-md-12" style="display:none">
          {% assign static_files = site.static_files | sort_newsletters %}
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            {% for year in static_files %}
              <div class="panel panel-default">
                <div data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{year[0]}}"  class="panel-heading" role="tab" id="headingOne">
                  <h3 class="panel-title">
                    <a role="button" aria-expanded="true" aria-controls="collapseOne">
                      {{year[0]}}
                    </a>
                  </h3>
                </div>
                
              </div>
            {% endfor %}
          </div> <!-- End of accordian  -->
        </div>
      </div>

    </div>
  </div>
</div>