<table class="table table-striped">
  <thead>
    <tr>
      <th>Year</th>
      <th>Recipient</th>
      <th>Affiliation</th>
      <th>Supported research</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2016</td>
      <td>Carlo Lanfossi</td> 
      <td>University of Pennsylvania</td>  
      <td>To support travel to view <em>in situ</em> the sources of numerous pasticci involving Handel in some way for his project “Handel as Arranger and Producer: Listening to Pasticci in Eighteenth-Century London.”</td>
    </tr>
    <tr>
      <td>2016</td>
      <td>Matthew Gardner (runner-up)</td>
      <td>Goethe-Universität, Frankfurt am Main</td>
      <td>To support travel to view <em>in situ</em> sources of the oratorio <em>Deborah</em> as he prepares the critical edition for the Hallische Händel-Ausgabe.</td>
    </tr>
    <tr>
      <td>2012</td>
      <td>Regina Compton</td>
      <td>Eastman School of Music</td>
      <td>To support travel to London to conduct research for her dissertation "Gesture in Handel's Recitative."</td>
    </tr>
    <tr>
      <td>2011</td>
      <td>Alison Desimone</td> 
      <td>University of Michigan</td>  
      <td>To support travel to London and Venice for the dissertation "Female Opera Singers and the Performance of Identity in Early Eighteenth-Century London."</td>
    </tr>
    <tr>
      <td>2011</td>
      <td>Andrew Woolley</td> 
      <td>University of Southhampton</td>  
      <td>To support travel to London, Cambridge and Chichester for the project "Research on the William Walond Manuscript of Keyboard Music in the Gerald Coke Handel Collection at the Foundling Museum Library, London, UK, and Related Sources."</td>
    </tr>
    <tr>
      <td>2009</td>
      <td>Thomas McGeary</td>
      <td>Independent scholar</td>
      <td>To pay for the provision of numerous illustrations for the 2009 essay in <em>Early Music</em>, "Handel as Art Collector: Art, Connoisseurship and Taste in Hanoverian Britain."</td>
    </tr>
    <tr>
      <td>2005</td>  
      <td>Nathan Link</td> 
      <td>Yale University</td> 
      <td>To support travel to Hamburg to study the Handel's conducting scores at the Staats- und Universitätsbibliothek.</td>
    </tr>
    <tr>
      <td>2004</td>  
      <td>Ilias Chrissochoidis</td> 
      <td> Stanford University</td> 
      <td>To support research on the political context of Handel's <em>Esther</em> in 1732.</td>
    </tr>
    <tr>
      <td>2003</td>  
      <td>Zachariah Victor</td> 
      <td> Yale University</td> 
      <td>To support work on "An Interdisciplinary Study of Vocal Genres and the Pastoral in the Music of Alessandro Scarlatti, 1693-1707," including connections between Handel and Scarlatti as cantata composers.</td>
    </tr>
    <tr>
      <td>2002</td>  
      <td>Minji Kim</td> 
      <td>Brandeis University</td> 
      <td>To support travel to London for research on the topic "Handel's <em>Israel in Egypt</em>: a Three-Anthem Oratorio."</td>
    </tr>
    <tr>
      <td>2001</td>  
      <td>Major Peter C. Giotta (Asst. Professor of English)</td>
      <td>United States Military Academy (West Point)</td>
      <td>'That Divine Poet': Milton, Handel, and Samson agonistes."Prof. Giotta will use the Fellowship for a research trip to England to explore how Handel's oratorio Samson affected the reception of Milton's poetry in the 18th century.</td>
    </tr>
    <tr>
      <td>2000</td>  
      <td>Stanley Pelkey</td> 
      <td>Gordon College</td> 
      <td>To explore the the formation of canonical repertoires in Georgian Britain and the influence that those canons, and especially the music of Handel, had on compositional practices in the late eighteenth and early nineteenth centuries.</td>
    </tr>
    <tr>
      <td>1999</td>  
      <td>Kenneth McLeod</td> 
      <td>Massachusetts Institute of Technology</td>
      <td>To study sources for <em>Eccles'</em> and Handel's <em>Semele</em> in London to assist with the completion of his project, "Masculine Anxiety in Handel's <em>Semele</em>"</td>
    </tr>
    <tr>
      <td>1998</td>  
      <td>Todd Gilman</td> 
      <td>Massachusetts Institute of Technology</td>
      <td>To study sources and materials by the English composer and Handel contemporary, Thomas Augustine Arne, at the Britten-Pears library in Aldeburth, England</td>
    </tr>
    <tr>
      <td>1996</td>  
      <td>Barbara Durost</td> 
      <td>Claremont Graduate School</td>
      <td>To study manuscript sources of William Croft's works in England and to search for concordances in major collections of single songs and anthologies in English libraries, and thereby shed light in Handel's activities during the same period</td>
    </tr>
    <tr>
      <td>1995</td>  
      <td>Mark Risinger</td> 
      <td>Harvard University </td>
      <td>To study Handel autographs in London and Cambridge, England</td>
    </tr>
    <tr>
      <td>1993</td>
      <td>Michael Corn</td>
      <td>University of Illinois</td>
      <td></td>
    </tr>
    <tr>
      <td>1993</td>  
      <td>Channan Willner</td> 
      <td>City University of New York</td>
      <td>To complete the recipient's dissertation on the analysis of Handel's music</td>
    </tr>
    <tr>
      <td>1991</td>
      <td>John Winemiller</td>
      <td>University of Chicago</td>
      <td>To complete archival research on Handel's self-borrowings from his abandoned opera, <em>Titus</em> (1731/32) and thereby complete his dissertation, "Aspects of neoclassicism in Handel's compositional aesthetic."</td>
    </tr>
    <tr>
      <td>1990</td>
      <td>Richard G. King</td>
      <td>Stanford University</td>
      <td>To study Handelian biographical archives in the Netherlands</td>
    </tr>
    <tr>
      <td>1989</td>
      <td>David Ross Hurley </td>
      <td>University of Chicago </td>
      <td>To complete the recipient's dissertation: "Handel's Compositional Process: A Study of Selected Oratorios"</td>
    </tr>
  </tbody>
</table>