<!-- Modal -->
<div class="modal fade" id="locationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title short-description" id="myModalLabel"></h3>
        <p id="address-header"></p>
      </div>
      <div class="modal-body">
        <p id="long-description"></p>
        <br>
        <p id="info-url"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-red" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> Close</button>
      </div>
    </div>
  </div>
</div>