<nav class="navbar" id="main-nav">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{site.baseurl}}/">American Handel Society</a>
    </div>

    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav pull-right" id="dropdown-results">
          <li class="dropdown">
            <a class="main-drop" role="button" data-toggle="dropdown" href="{{site.baseurl}}/about">About <b class="caret"></b></a>
            <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
              <li role="presentation"><a class="item" role="menuitem" tabindex="-1" href="{{site.baseurl}}/about">About the society</a></li>
              <li role="presentation"><a class="item" role="menuitem" tabindex="-1" href="{{site.baseurl}}/newsletter">Newsletter</a></li>
              <li role="presentation"><a class="item" role="menuitem" tabindex="-1" href="{{site.baseurl}}/awards">Awards</a></li>
            </ul>
          </li>
          <li>
            <a class="main-drop" href="{{site.baseurl}}/explore"> Explore</a>
          </li>
          <li>
            <a class="main-drop" href="{{site.baseurl}}/events" class="btn-print"> Events</a>
          </li>
          <li>
            <a class="main-drop" href="{{site.baseurl}}/join" class="btn-print"> Join</a>
          </li>
      </ul>
    </div>
  </div>
</nav>
