<table class="table table-striped">
    <thead>
      <tr>
        <th>Year</th>
        <th>Speaker</th>
        <th>Lecture Title</th>
        <th>Festival Location</th>
      </tr>
    </thead>
    <tbody>
			<tr>
				<td>2019</td>
				<td>Ellen Rosand</td>
				<td>"Handel's 'Music'"</td>
				<td>Bloomington, IN – Indiana University</td>
			</tr>
			<tr>
				<td>2017</td>
				<td>John Butt</td>
				<td>"Handel and Messiah: Harmonizing the Bible for a Modern World?"</td>
				<td>Princeton, NJ – Princeton University</td>
			</tr>
			<tr>
				<td>2015</td>
				<td>Nicholas McGegan</td>
				<td>"Handel in My Lifetime"</td>
				<td>Iowa City, IA – University of Iowa</td>
			</tr>
			<tr>
				<td>2013</td>
				<td>Reinhard Strohm</td>
				<td>"Handel: Opera and Ritual"</td>
				<td>Princeton, NJ – Princeton University</td>
			</tr>
			<tr>
				<td>2011</td>
				<td>David Hurley</td>
				<td>"Once More with Feeling: Da Capo Patterns in Handel's Oratorios"</td>
				<td>Seattle, WA</td>
			</tr>
			<tr>
				<td>2009</td>
				<td>Robert Ketterer</td>
				<td>"London as Athens: <em>Teseo</em> and <em>Arianna in Creta</em>"</td>
				<td>Danville, KY - Centre College</td>
			</tr>
			<tr>
				<td>2007</td>
				<td>Andrew Porter</td>
				<td>"How Handel's Operas Entered the Modern Repertory"</td> 
				<td>Princeton, NJ – Princeton University</td>
			</tr>
			<tr>
				<td>2005</td>
				<td>Graydon Beeks</td>
				<td>"Private Patronage of Church Music in the Reign of George I"</td>
				<td>Santa Fe, NM</td>
			</tr>
			<tr>
				<td>2003</td>
				<td>Terence Best</td>
				<td>"Handel Editions"</td>
				<td>Iowa City, IA – University of Iowa</td>
			</tr>
			<tr>
				<td>2001</td>
				<td>Nicholas Temperley</td>
				<td>"'In Virtue's Cause': How Handel's Music was Sanctified"</td>
				<td>College Park, MD – University of Maryland</td>
			</tr>
			<tr>
				<td>2000</td>
				<td>Ruth Smith</td>
				<td>"Fifteen Ways to Skin an Oratorio, of Understanding <em>Theodora</em>"</td>
				<td>College Park, MD – University of Maryland</td>
			</tr>
			<tr>
				<td>1998</td>
				<td>Anthony Hicks</td>
				<td>"Handel's Jephtha: A Sacridice to Theology?"</td>
				<td>College Park, MD – University of Maryland</td>
			</tr>
			<tr>
				<td>1996</td>
				<td>Donald Burrows</td>
				<td>"M. Handel's Friends: Contemporary Accounts of the Composer from the papers of James Harris"</td>
				<td>College Park, MD – University of Maryland</td>
			</tr>
			<tr>
				<td>1994</td>
				<td>Winton Dean</td>
				<td>"Handel's Operas in the Theatre"</td>
				<td>College Park, MD – University of Maryland</td>
			</tr>
			<tr>
				<td>1992</td>
				<td>John Roberts</td>
				<td>"The <em>Song for St Cecilia's Day</em> and Handel's 'Borrowing' from other Composers"</td>
				<td>College Park, MD - University of Maryland</td>
			</tr>
			<tr>
				<td>1991</td>
				<td>Paul Brainard</td>
				<td>"Bach and Handel: Another Look"</td>
				<td>Washington, D.C. – George Washington University</td>
			</tr>
			<tr>
				<td>1990</td>
				<td>Don E. Saliers</td>
				<td>"Words and The Word: Sounding the Text of Handel's <em>Messiah</em>"</td>
				<td>College Park, MD – University of Maryland</td>
			</tr>
			<tr>
				<td>1989</td>
				<td>Bernd Baselt</td>
				<td>"The War of Spanish Succession, Italy, and Handel"</td>
				<td>College Park, MD – University of Maryland</td>
			</tr>
			<tr>
				<td>1988</td>
				<td>Ellen T. Harris</td>
				<td>"Integrity and Improvisation in the Music of Handel"</td>
				<td>College Park, MD – University of Maryland</td>
			</tr>
			<tr>
				<td>1987</td>
				<td>Jens Peter Larsen</td>
				<td>"The Turning Point in Handel's Oratorio Tradition"</td>
				<td>College Park, MD – University of Maryland</td>
			</tr>
    </tbody>
</table>