<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>
      {% if page.title %}
        {{page.title}} -
      {% endif %}
      {{site.name}}
    </title>

    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content='{{ site.description }}' name='description'>
    <meta content='{{ site.name }}' name='author'>

    <link href='/favicon.ico' rel='shortcut icon'>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lovers+Quarrel|IM+Fell+English+SC|Antic+Slab" rel="stylesheet">

    <!-- Styles -->
    <link href="https://cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/3.15/themes/css/cartodb.css" rel="stylesheet">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css"/>
    <link rel="stylesheet" href="{{site.baseurl}}/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{site.baseurl}}/css/custom.css"/>

    <!-- JavaScript -->
    <script src="https://use.fontawesome.com/7b6f0d01d4.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/js/lib/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/js/custom.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyCSg3bQurfz0U61uKn_8CYgPHzcl_Y2JE8"></script>

    <script type="text/javascript" src="js/lib/cartodb.js"></script>
    <script type="text/javascript" src="js/lib/leaflet-google.js"></script>
    <script type="text/javascript" src="js/cartoObj.js"></script>

  </head>
  <body>

  {{content}}

  <footer class="footer container-fluid text-center">
    <p>American Handel Society <i class="fa fa-copyright" aria-hidden="true"></i> 2017</p>
  </footer>

  </body>
</html>