<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>
      {% if page.title %}
        {{page.title}} -
      {% endif %}
      {{site.name}}
    </title>

    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content='{{ site.description }}' name='description'>
    <meta content='{{ site.name }}' name='author'>

    <link href='/favicon.ico' rel='shortcut icon'>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lovers+Quarrel|IM+Fell+English+SC|Antic+Slab" rel="stylesheet">

    <!-- Styles -->
    <link href="https://cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/3.15/themes/css/cartodb.css" rel="stylesheet">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css"/>
    <link rel="stylesheet" href="{{site.baseurl}}/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{site.baseurl}}/css/custom.css"/>

    
  </head>
  <body>

    {{content}}

    <footer class="footer container-fluid"></footer>
    
    <!-- JavaScript -->
    <script src="https://use.fontawesome.com/7b6f0d01d4.js"></script>
    <script type="text/javascript" src="js/lib/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/lib/bootstrap.min.js"></script>

    <!-- Map update -->
    <script type="text/javascript" scr="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.standalone.js'></script>


<script type="text/javascript" src="js/lib/jquery.address.js"></script>


    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css' rel='stylesheet' />


    <script type="text/javascript" src="js/custom.js"></script>
  </body>
</html>